<div class="user-card">
  <div class="user-card-info text-center">
    <a class="username" href="#">
      <h3 class="bold"><%= user.escape('username') %></h3>
      <img class="user-card-avatar" src="<%= user.image().get('url') %>" />
    </a>
  </div>

  <div class="user-card-recommendations bold">Recommendations:
    <div class="card-recommendations"></div>
  </div>

  <div class="user-card-rank text-center">
    <h3>Reviews Written: <%= numberOfReviews %></h3>
    <br>

    <div class="card-rank">
      <div class="bold"><%= user.rank().escape('name') %></div>
      <br>
      <img class="rank-image" src="<%= user.rank().get('image_url') %>" />
    </div>
  </div>
</div>
