<div class="panel panel-body css-panel user-item">
  <div class="pull-right">
    <h3>Reviews Written: <%= numberOfReviews %></h3>
  </div>
  <div class="pull-left text-center user-idx">
    <a id="to-user" href="#">
      <h3><strong><%= user.escape('username') %></strong></h3>
      <img class="user-index-pic" src="<%= user.image().get('url') %>" />
    </a>
  </div>

  <div class="user-idx-recs row">
    <h5>User's Recommendations:</h5>
    <div id="recs" class="">
      <div class="col-xs-2 user-item-placehold">

      </div>
    </div>
    <div class="col-xs-2 text-center rank-item">

      <strong><%= user.rank().escape('name') %></strong>
        <br><br>
      <img class='user-item-rank' src="<%= user.rank().get('image_url') %>" />

    </div>
  </div>
</div>
