<div class="container">
  <div class="clearfix game-profile">
    <div class="game-profile-left">
      <img class="game-boxart" src="<%= game.escape('boxart_url') %>"/>
      <div class="game-score">
        <% if (!game.reviews().length) { %>
          Be the first to review
          <span class="bold"><%= game.escape('name') %>!</span>
        <% } else { %>
          <span class="bold">
            Average Score: <%= game.get('score') %> / 5
          </span>
        <% } %>

        <input type="number" class="average-score rating" disabled="true"
          min=0 max=5 step=0.1 data-size="md" value="<%= game.get('score') %>"
        >
        <div>Number of Reviews: <%= game.reviews().length %></div>
        <br>

        <% if (!currentUser.ownedGames().where({id: this.model.id}).length) {%>
          <button class="collection-button btn btn-default btn-primary pull-left">
            <i class="fa fa-heart fa-lg"></i>
            Recommend
          </button>
        <% } else { %>
          <button class="collection-button btn btn-warning btn-disabled pull-left">
            <i class="fa fa-heart fa-lg"></i>
            Recommended
          </button>
        <% } %>

        <% if (!currentUser.wishlistGames().where({id: this.model.id}).length) {%>
          <button class="wishlist-button btn btn-primary btn-default">
            <i class="fa fa-list fa-lg"></i>
            Add to Wishlist
          </button>
        <% } else { %>
          <button class="wishlist-button remove-game btn btn-default btn-danger">
            <i class="fa fa-list fa-lg"></i>
            Remove from Wishlist
          </button>
        <% } %>
      </div>
    </div>

    <div class="game-info">
      <h1><%= game.escape('name') %></h1>
      <p class="description"><%= game.escape('deck') %><p>

      <div class="release-date bold">Release Date: </div>
      <%= game.escape('release_date') %>
      <br>

      <div class="platforms">
        <span class="bold">Available Platform(s): </span>
        <% platforms.forEach(function (platform) { %>
        <br>
        <%= platform %>
        <% }) %>
      </div>
    </div>
  </div>

  <div class="game-reviews"></div>
</div>
