<!DOCTYPE html>
<html>
<head>
  <title>Goodgames</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/star-rating.min.scss" media="all" rel="stylesheet" type="text/css" />
  <script src="/assets/utils/star-rating.js" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="/assets/slick.css" type="text/css" media="all"/>
  <link href="/assets/slick-theme.css" media="all" rel="stylesheet" type="text/css" />


  <script type="text/javascript" charset="utf-8">
    window.GIANTBOMB = {
      api_key: '<%= ENV['giantbomb_api_key'] %>'
    }
  </script>

  <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    };
  </script>

</head>
<body>



  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
  <div class="container">
    <%= yield %>
  </div>
  <script type="text/javascript" src="/assets/slick.min.js"></script>
</body>
</html>
